.film-card {
  width: 300px;
  height: 450px;
  background-color: #2b2b2b;
  color: white;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  transition: transform 0.3s ease-in-out;
  position: relative;
}

.film-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
}

.film-poster {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 10px 10px 0 0;
}

.film-title {
  font-size: 1.5em;
  margin-bottom: 0.5em;
}

.film-year {
  font-size: 1em;
  color: rgba(255, 255, 255, 0.8);
}

.details-button {
  padding: 0.5em 1em;
  background-color: transparent;
  border: none;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.8), rgba(255, 255, 255, 0.1));
  color: white;
  margin-top: 1em;
}

.details-button:hover {
  transform: scale(1.1);
}