.films-grid li {
  list-style-type: none;
  margin-bottom: 20px;
  transition: all 0.3s ease-in-out;
  transform: translateY(-10px); 
}

.show-film-card {
  transform: translateY(0); 
  opacity: 1; 
}

.active-page {
  font-weight: bold;
  color: #ffb800; 
}

nav button,
nav span {
  padding: 5px 10px;
  border-radius: 4px;
  background-color: transparent;
  text-decoration: underline;
  cursor: pointer;
  margin-right: 5px;
}

nav button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

nav span.active-page {
  background-color: rgba(255, 184, 0, 0.2); 
  padding: 5px 10px;
  border-radius: 4px;
}