.search-bar-container {
  position: relative;
  width: 300px;
  margin-bottom: 20px;
}

.search-input {
  padding: 10px;
  border-radius: 5px;
  font-size: 16px;
  display: block;
  width: 100%;
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
  transition: all .3s ease-in-out;
}

.search-icon {
  color: #0f0000;
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  pointer-events: none;
}

.search-suggestions {
  list-style-type: none;
  background-color: white;
  max-height: 200px; 
  overflow-y: auto;
  border-radius: 5px;
  position: absolute;
  z-index: 1000;
  left: 0;
  right: 0;
  top: calc(100% + 5px);
  box-shadow: 0 2px 5px rgba(0,0,0,0.15);
  padding: 0;
  margin-top: 5px;
  width: 300px; 
}

.suggestion-item {
  padding: 10px;
  cursor: pointer;
  border-bottom: 1px solid #eee;
  color: black; 
}

.suggestion-item:hover,
.suggestion-item:focus {
  background-color: #f5f5f5;
}

.suggestion-item.active {
  background-color: #eaeaea;
}

.fas {
  font-family: FontAwesome;
}

.poster-thumbnail {
  width: 1.5em;
  height: 1.5em;
  object-fit: cover;
  float: left;
  margin-right: 10px;
}

.film-details {
  line-height: 1.5em;
  vertical-align: middle;
}

.search-suggestions li img {
  display: inline-block;
  vertical-align: middle;
}

.search-suggestions li strong {
  font-weight: bold;
  display: block;
}

.search-suggestions li small {
  color: gray;
  font-size: 0.8rem;
}