@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  background-image: url('./images/local-image.jpg');
  background-size: cover;
  background-position: center;
  color: #fff;
  font-family: 'Roboto Condensed', sans-serif;
  overflow-x: hidden;
}

.app-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 2rem;
  position: relative;
}

.app-header img {
  width: 450px;
  height: auto;
  float: left;
  position: relative;
  z-index: 1;
}

.search-bar-container {
  display: flex;
  justify-content: center;
  margin-right: 1em;
  position: relative;
}

.search-input {
  width: 300px;
  height: 40px;
  padding: 0.5em;
  border: 2px solid rgba(129, 255, 2, 0.876);
  outline: none;
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
  font-size: 1.2em;
  border-radius: 10px;
  transition: box-shadow 0.3s ease-in-out;
  position: relative;
  z-index: 1;
}

.search-input::placeholder {
  color: rgba(255, 255, 255, 0.5);
}

.search-input:focus {
  box-shadow: 0 0 10px rgba(145, 255, 0, 0.712);
}

.search-icon {
  position: absolute;
  top: 50%;
  transform: translateY(-50%) rotate(45deg);
  right: 10px;
  color: rgba(255, 255, 255, 0.5);
  font-size: 1.2em;
  pointer-events: none;
}

.films-grid {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 1em;
  justify-content: center;
  padding-left: 2em;
}

.film-card {
  width: 300px;
  height: 450px;
  box-shadow: 0 4px 8px rgb(0, 0, 0);
  overflow: hidden;
  border-radius: 10px;
  position: relative;
  margin-top: 1em;
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background-color: #100122c8;
  color: white;
  border: 2px solid gold;
}

.film-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
}

.film-card img {
  width: 100%;
  height:323px;
  object-fit: cover;
  border-radius: 10px 10px 0 0;
}

.film-card h2 {
  font-size: 1.5em;
  margin: 0.5em 0;
  display: inline-flex;
  align-items: baseline;
  text-shadow: 0 0 5px rgba(255, 238, 0, 0.5);
}

.film-card p {
  font-size: 1em;
  color: rgba(255, 255, 255, 0.8);
}

.film-card button {
  padding: 0.5em 1em;
  background-color: transparent;
  border: none;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.8), rgba(255, 255, 255, 0.1));
  color: white;
}

.film-card button:hover {
  transform: scale(1.1);
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal-content {
  background-color: #0e012ce5;
  color: #ff5500;
  padding: 2em;
  border-radius: 10px;
  max-width: 500px; 
  max-height: 800px;
  overflow-y: auto;
  position: relative;
  border: 2px solid gold; 
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.3);
}

.close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: transparent;
  border: none;
  font-size: 1.2em;
  color: rgba(255, 255, 255, 0.8);
  cursor: pointer;
}

.close-button:hover {
  color: white;
}

.modal-content img {
  max-width: 15%;
  height: auto;
  margin-bottom: 1em;
  border: 4px solid #77ff00b1;
  border-radius: 15px 15px 15px 15px;
}

.modal-content h2 {
  font-size: 1.8em;
  margin-bottom: 1em;
}

.modal-content p {
  line-height: 1.5;
  margin-bottom: 1em;
}

.modal-content strong {
  color: rgba(255, 255, 255, 0.8);
}

.rating-box {
  position: absolute;
  margin-top: -1em;
  right: 10px;
  background-color: silver;
  padding: 0.5em 1em;
  border-radius: 5px;
  box-shadow: 0 0 10px gold;
}

.rating-box p {
  margin: 0;
  font-size: 1.8em;
  color: #806500;
}